---
import Layout from '../layouts/Layout.astro';
import File from '../components/File.jsx';
---

<Layout title="Jonathan Maggio">
	<main class="flex justify-center items-center h-screen p-4">
		<File client:visible/>
	</main>
</Layout>